@font-face {
    font-family: v1;
    src: url("../fonts/VeganSt.ttf");
}
@font-face {
    font-family: v2;
    src: url("../fonts/Oldenburg.ttf");
}


@media screen and (min-width: 200px) and (max-width: 640px) {
.emplacements-projets{
    margin-top:8%;
}


.notOnPhone{
    display:none;
}
body.modal-open {
    overflow: hidden;
    position: fixed;
}

body { 
    overflow-x: hidden;
    overflow-y: hidden;
}
.comp-row{
    margin-bottom:5%;
}
body.modal-open {
  
    overflow: hidden;
    position: fixed;
}
body.viewport-lg {
    position: absolute; 
}


.tacenter p{
    margin-bottom: 0;
    
}

.tacenterz{
    text-align: center;
    margin-bottom: 10%;
}

.tacenterz h2{
    font-family: v1;
    font-size: 2.5rem;
    margin-top:10%;
}

.slotimagecomp{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .comp-name{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    font-family: v2;
    font-weight: bold;
 }
body{
    height:100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #33ccff 52%, #3399ff 85%);
}
.logo-place{
    justify-content: center;
    align-items: center;
}
.enterbutton{

    width:100px;
    height:40px;
    border-radius: 4px;
}
#arrow-drop-down{
    color:red;
}
.scrollalertzone{
    display:flex;
    justify-content: center;
    align-items: center;
    


}

#scrollalert{
    height:100px;
    

}
#scrollalert2{
    height:100px;
    

}

.home-logo{
    width: 100%;
    height:80%;
    margin-top: 20%;
}
.emplacements-comps{
    overflow: scroll;
    height: 70%;
    border-radius: 0px 0px 5px 0px;
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px 0px 5px 0px;
    border: 2px solid#ccd6dc;
    padding:10%;
}
.site-logo{
    margin-left:8%;
    margin-top:5%;
}

.leftarrow{
   height:5%;
   width:10%;
}

.logo-links{
display: flex;
margin:auto;
padding: auto;
justify-content: center;
align-items: center;
position:fixed;
width: 100%;
bottom:20px;


}


html{
    height:100%;
}
.link-logo{
    height:50px;
    width:50px;
   
}
.cvSlot{
    display:flex;
    height:80%;
    width:100%;
    justify-content: center;
    align-items: center;

}
footer{
    display:flex;
    margin:0;
    padding: 0;
    justify-content: center;
    bottom:20px;

}
.centerz{
    display:flex;
    justify-content: center;
}
.name{
    font-size: 1.5rem;
    margin-left: 4%;
}

.buttonSpot{
    display: flex;
    justify-content: center;
    height: 15%;
    
}

.myName{
    font-size: 2.4rem;
    margin-left: 9%;
    font-family: v1;
    margin-top: 10%;
}




.spot-btn{

    display:flex;
    justify-content: center;

}


.button-place{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

.back{
    margin-left: 2%;
    margin-top: 2%;
}

.bg-light {
    background-color: transparent !important;
}



.smalltextcontact{
    font-family: v2;
}

.contactrow{
    margin:auto;
    align-items: center;
    font-size: 0.8rem;
    height: 11%;
    font-family: v2;
    

}
.btncontactform{
    margin-top: 5%;
}
.border{
    border-style:solid 3px;
    height:20%;
    width: 100%;
    
    
}

 /* menu et Autre pages  */
.menu-layer{

    background-color: rgb(253, 253, 253);
    height: 100%;
    width:100%;
    z-index: 150;
    position:absolute;
    left: 100%;
    top:0%;
    transition: left 1s;
    -webkit-box-shadow: -8px 0px 5px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: -8px 0px 5px 0px rgba(0,0,0,0.51);
    box-shadow: -8px 0px 5px 0px rgba(0,0,0,0.51);
    
}

.open-menu{
    position: absolute;
    top:49%;
    left:92%;
    
}
.close-menu{
    position: absolute;
    height: 3%;
    width: 100%; 
    margin:auto 0;
    top: 48.5%;
}

.cv-layer{
    background-color: rgb(233, 229, 229);
    height: 100%;
    width:100%;
    z-index: 160;
    position:absolute;
    left: 0%;
    top:0%;
    transition: left 1s;
    display:flex;
    
}
.contact-layer{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width:100%;
    z-index: 165;
    position:absolute;
    left: 0%;
    top:0%;
    transition: left 1s;
    display:flex;
    
}
.projects-layer{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width:100%;
    z-index: 170;
    position:absolute;
    left: 0%;
    top:0%;
    transition: left 1s;
    display:flex;
    
}

.skills-layer{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width:100%;
    z-index: 175;
    position:absolute;
    left: 0%;
    top:0%;
    transition: left 1s;
    display:flex;
    
}

/* boutons ouverture de catégories   */
.open-cv{
    position: absolute;
    top:5%;
}
.open-cv-2{
    position: absolute;
    top:90%;
}
.close-cv{
    position: absolute;
    top:5%;
    visibility: hidden;
}
.close-cv-2{
    position: absolute;
    top:90%;
    visibility: hidden;
}

.open-contact{
    position: absolute;
    top:5%;
}
.open-contact-2{
    position: absolute;
    top:90%;
}

.close-contact{
    position: absolute;
    top:5%;
    visibility: hidden;
}
.close-contact-2{
    position: absolute;
    top:90%;
    visibility: hidden;
}

.open-projects{
    position: absolute;
    top:5%;
}
.open-projects-2{
    position: absolute;
    top:90%;
}
.close-projects{
    position: absolute;
    top:5%;
    visibility: hidden;
}
.close-projects-2{
    position: absolute;
    top:90%;
    visibility: hidden;
}

.open-skills{
    position: absolute;
    top:5%;
}
.open-skills-2{
    position: absolute;
    top:90%;
}

.close-skills{
    position: absolute;
    top:5%;
    visibility: hidden;
}
.close-skills-2{
    position: absolute;
    top:90%;
    visibility: hidden;
}

.nom-slot{
    position:absolute; 
    width:5%;
    height:100%;
    text-align: center;
    font-size:1.5rem;
    display : flex;
   
  
}
.catname-slot{
    position:absolute;
    top:35%;
    width:5%;
    height:10%;
    /* left: -0.5%; */
    font-size:1.5rem;
  
}


.slot-text{
  margin:0;
    writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 18px;
  display:block;
  margin:auto 0;

}

.onglet-border{
    padding-left: 2%;
    height: 100%;
    width:11%;
    border: #020202 solid ;
    border-width: 1px 0px 1px 1px;
    /* background: linear-gradient(to top, #33ccff 52%, #3399ff 85%);   */
    background: linear-gradient(to right, #33ccff 0%, #3399ff 100%); 
}

.short-desc{
    font-size: 1.5rem;
    margin:auto 0;
}
.layer-content{
    position: relative;
    top:0;
    
}

.layer-competency{
    position: absolute;
    top:0%;
}

.boutonDL{
    position: relative;
    margin-top: 20%;
    width: 100%;

height: 53px;
}
#fetchDescriptionAccueil{
    font-family: v2;
}
.Contenu{
    color:black;
}


.testprojet{
    height:2rem;;
    width: 10rem;
    background-color: black;
}
.imagecomp{
    height:60px;
}
#emplacements-projets{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 400px;
    overflow: scroll;
    border-radius: 0px 0px 5px 0px;
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px 0px 5px 0px;
    border: 2px solid #ebeafc;
    padding:2%;
    
}
 .projetsemp{
     padding:5%;
 }
.apercu{
    margin-top: 1%;
    margin-bottom: 5%;
}
.project-capture{
    height:100%;
}
.project-detail-layer{
    background-color: rgb(250, 250, 250);
    height: 100%;
    width:100%;
    position:absolute;
    top:100%;
    left:0%;
    transition: top 1s;
    z-index: 200;
}


.contact-form-layer{
    background-color: rgb(250, 250, 250);
    height: 100%;
    width:100%;
    position:absolute;
    top:100%;
    left:0%;
    transition: top 1s;
    z-index: 200;
}
.smalltextcontact{
    padding:6%;
}
.close-details{
    position: absolute;
    left:88%;
    margin-top:5%;
    z-index: 210;
}
.detailsemp{
    border-radius: 0px 0px 5px 0px;
-moz-border-radius: 0px 0px 5px 0px;
-webkit-border-radius: 0px 0px 5px 0px;
border: 2px solid #ebeafc;
    padding:2%;
}
.close-demo{
    position: absolute;
    left:88%;
    margin-top:5%;
    z-index: 210;
}
#showcontactform{
    margin-top:5%;
}

.ifc{
    margin-bottom: 4%;
}
.close-contactform{
    position: absolute;
    left:88%;
    margin-top:5%;
    z-index: 210;
}

.full-desc-text{
    font-size: 1.2rem;
    margin-bottom:5%;
    font-family: v2;
}


}

@media screen and (min-width: 640px) {
    .notOnPhone{
        background-color: #3399ff;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    }
    .noPhoneMessage{
        font-size: 5em;
        font-family: v1;
        
    }
    body { 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .link-logo{
        height:100px;
        width:100px;
    }
    .textNoPhone{
        display: flex;
        justify-content: center;
    }

    body{
        background-color: #3399ff;
    }

    .logo-place{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-place{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}