
{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row"> 
        <div class="col-12 logo-place img-fluid">
            <img src="{{ asset('images/site/logos/logoFR.svg') }}" class="img-fluid home-logo ">
        </div>
    </div> 
    <div class="row ">  
        <div class="col-12 button-place">
            <a href="accueil"  ><input type="button" value="Entrer" class="btn-warning enterbutton" ></a>
        </div>
    </div>
</div>    
{% endblock %}

